.panda-bg-info{
    background-color: rgb(250, 220, 220);
}
.categories img{
    width: 100px;
}
.panda-btn-by-now{
    color: white;
    background-color: rgb(240, 57, 87);
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}